@import '../../styles/mixins.scss';

.tag {
  @include flex(row, center, center, 0.25rem);
  @include text($montserrat, 1rem, 1.375rem, 600, $green);
  @include container($mainWhite, $simpleBorder, $extraLargeRadius, $green, 0.25rem 0.75rem, none);
  transition: background-color 0.2s ease-in-out;

  button {
    @include container(transparent, none, 0, transparent, 0, none);

    svg path { fill: $green; }

    .tagButton {
      @include size(1.25rem, 1.25rem);
      @include flex(row, center, center);
      cursor: pointer;
    }
  }

  &.interactive {
    &:hover { background-color: $hoverGreen; }
  }

  &.disabled {
    color: $disabledGreen;
    border-color: $disabledGreen;
    background-color: $mainWhite;
    pointer-events: none;

    button {
      svg path { fill: $disabledGreen; }
    }
  }
}