@import '../../styles/mixins.scss';

label {
  @include flex($align: center, $gap: 0.5rem);

  input[type="checkbox"] {
    @include size(1.25rem, 1.25rem);
    @include container($mainWhite, 1px solid, $borderRadius: $smallRadius, $borderColor: $black);
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: max(0.5px, 0.15em) solid $disabledGreen;
      outline-offset: max(0.5px, 0.15em);
    }

    &:checked {
      @include container($greenTwo, none, $borderRadius: $smallRadius);
      background: $greenTwo url('../../assets/checkbox.svg') no-repeat center;
    }
  }
}