@import '../../styles/mixins.scss';

.main {
  @include size(100%);
  @include flex(column, flex-start, flex-start, 1.5rem);
}

.table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-collapse: collapse;

  font-family: 'Raleway', sans-serif;;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  color: #161616;

  .forms {
    @include size(100%, 100%);
    padding-bottom: 5rem;

    form {
      @include flex(column, center, center, 1rem);
    }
  }
}

input[type="checkbox"] {
  @include size(1.25rem, 1.25rem);
  @include container($mainWhite, 1px solid, $borderRadius: $smallRadius, $borderColor: $black);
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: max(0.5px, 0.15em) solid $disabledGreen;
    outline-offset: max(0.5px, 0.15em);
  }

  &:checked {
    @include container($greenTwo, none, $borderRadius: $smallRadius);
    background: $greenTwo url('../../assets/checkbox.svg') no-repeat center;
  }

  &:disabled {
    @include container($disabledGreen, 1px solid, $borderRadius: $smallRadius, $borderColor: $disabledGreen);
    background: none;
    cursor: not-allowed;
  }
}

.nofound {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #161616;
}