@import '../../styles/mixins.scss';

.dropdownContainer { display: none; }

.tabs {
  @include flex($justify: flex-start, $align: center);

  .tab {
    @include text($raleway, 1.125rem, 1.25rem, 500, $black);
    border: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.75rem;
    background: none;
    cursor: pointer;

    &:hover, &.active { border-color: $black; }
  }
}

@media (max-width: 900px) {
  .dropdownContainer { display: block; }
  .tabs { display: none; }
}