@import '../../../styles/mixins.scss';

.valueDisabled {
  background-color: $disabled !important;
  color: $txtDisabled !important;

  input {
    color: $txtDisabled !important;
  }

  input::placeholder {
    color: $txtDisabled !important;
  }
}

.inlineInput {
  @include size(5.75rem, 2.5rem);
  @include flex(row, space-between, center, 0.5rem);
  @include text($montserrat, 1rem, 1.375rem, 400, $darkGray);
  @include container($white, $simpleBorder, $smallRadius, $lightGray, 0.5rem, none);

  input {
    @include size(100%, 100%);
    @include text($montserrat, 1rem, 1.375rem, 400, $black);
    border: none;
    outline: none;
  }

  input::placeholder {
    color: $darkGray;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}